<div class="container" style="border: grey solid;">
	<!-- <div class="row"> -->
	<!-- <div > -->

	<form [formGroup]="searchCandidateForm">
		<!-- style="width: 60%; margin-left: 40%; padding-top: 60px;" -->

		<table style="width: 100%; margin-top: 30px;">
			<tr>
				<td style="width: 33%;">
					<select formControlName="filter" id="filter" class="form-control" (change)="onChange()">
						<option [value]="filter.id" *ngFor="let filter of filters">{{filter.value}} </option>
					</select>
				</td>
				<td style="width : 33%">
					<input formControlName="search-box" id="typeahead-basic" type="text" class="form-control"
						[(ngModel)]="model" [ngbTypeahead]="search" placeholder="Search">
				</td>
				<td style="width: 33%; text-align: left;">
					<button class="btn btn-primary  float-left" (click)="onSearch()" type="button">Search</button>
				</td>
			</tr>
		</table>
		<br>
		<table style="width: 100%; margin-top: 30px; border: 1px solid black;" *ngIf="visible">
			<tr>
				<th style="width : 20%; text-align: center; border: 1px solid black;">Emp ID</th>
				<th style="width : 30%; text-align: center; border: 1px solid black;">First Name</th>
				<th style="width : 30%;text-align: center; border: 1px solid black;">Second Name</th>
				<th style="width: 20%; border: 1px solid black;"></th>
			</tr>

			<tr *ngFor="let candidate of candidates; let i = index">
				<td style="border: 1px solid black;">
					<input id="empid" type="text" value="{{candidate.empid}}" class="form-control" disabled>
				</td>
				<td style="border: 1px solid black;">
					<input id="firstname" type="text" value="{{candidate.firstname}}" class="form-control" disabled style="width: 100%;">
				</td>
				<td style="border: 1px solid black;">
					<input id="lastname" type="text" value="{{candidate.lastname}}" class="form-control" disabled style="width: 100%;">
				</td>
				<td style="border: 1px solid black;">
					<div style="margin-left: 30px; margin-right: 30px;">
					<button class="btn " id="{{i}}" (click)="onEdit($event)" style="background-color: green;"
						type="button">Edit</button>
					
					<button  class="btn float-right	" id="{{i}}" (click)="onDelete($event)" style="background-color: Red;" type="button">Delete</button>
				</div>
				</td>
			</tr>

		</table>

		<br>

	</form>
	<!-- </div>
    </div> -->
</div>




<div class="container" style="border: grey solid;" *ngIf="editing">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
			<form [formGroup]="updateCandidateForm" (ngSubmit)="onUpdate()"
				style="width: 60%; margin-left: 40%; padding-top: 60px;">
				<label for="empid">Empid : </label>
				<input type="text" id="empid" formControlName="empid" class="form-control" oninput="this.value = this.value.toLowerCase()">

				<label for="firstname">Firstname : </label>
				<input type="text" id="firstname" formControlName="firstname" class="form-control" oninput="this.value = this.value.toLowerCase()">

				<label for="lastname">Lastname : </label>
				<input type="text" id="lastname" formControlName="lastname" class="form-control" oninput="this.value = this.value.toLowerCase()">

				<label for="email">Email : </label>
				<input type="email" id="email" formControlName="email" class="form-control" oninput="this.value = this.value.toLowerCase()">
				<span *ngIf="!updateCandidateForm.get('email').valid && updateCandidateForm.get('email').touched"
					class="help-block">Please Enter Valid Email Id!</span><br>


				<label for="contactnumber">Contact Number : </label>
				<input type="number" id="contactnumber" formControlName="contactnumber" class="form-control" ><br>

				<label for="skills">Skills : </label>
				<div formArrayName="skills" id="skills">
					<button class="btn btn-primary" type="button" (click)="onAddSkill()">Add Skill</button>
					<br><br>
					<div class="form-group"
						*ngFor="let skillControl of updateCandidateForm.get('skills')['controls']; let i = index">
						<select [formControlName]="i" class="form-control">
							<option [value]="skill.skillid" *ngFor="let skill of skills">{{skill.skill | titlecase}} </option>
						</select><br>
					</div>
				</div>
				<br>


				<label for="instituteid">Institutes : </label>
				<select formControlName="instituteid" id="instituteid" class="form-control">
					<option [value]="institute.instituteid" *ngFor="let institute of institutes">{{institute.institute | titlecase}}
					</option>
				</select><br>


				<label for="jobdescriptionid">Job Description : </label>
				<select formControlName="jobdescriptionid" id="jobdescriptionid" class="form-control">
					<option [value]="jobdescription.jobdescriptionid" *ngFor="let jobdescription of jobdescriptions">
						{{jobdescription.jobdescription | titlecase}} </option>
				</select><br>

				<label for="joiningdate">Joining Date : </label>
				<input type="date" id="joiningdate" formControlName="joiningdate" class="form-control">


				<label for="locationid">Location : </label>
				<select formControlName="locationid" id="locationid" class="form-control">
					<option [value]="location.locationid" *ngFor="let location of locations">{{location.location | titlecase}}
					</option>
				</select><br>


				<label for="feedback">Feedback : </label>
				<input type="text" id="feedback" formControlName="feedback" class="form-control" oninput="this.value = this.value.toLowerCase()">

				<span *ngIf="!updateCandidateForm.valid && updateCandidateForm.touched" class="help-block">Please Enter
					Valid Data!</span><br>


				<!--  -->
				<button class="btn-custom warning float-right" type="button" (click)="onCancelEdit()">Cancel</button>
				<button class="btn btn-primary float-right" [disabled]="!updateCandidateForm.valid"
					type="submit">Update</button>
			</form>
		</div>
	</div>
	<br>
</div>





















<!-- <div class="form-group">
    <label for="ArtistName">Band Name:</label>
    <input id="ArtistName" type="text"
           name="ArtistName"
           class="form-control"                     
           [(ngModel)]="states"
           [ngbTypeahead]="search"                     
           
           #instance="ngbTypeahead"                     
      />
  </div> -->