<div class="container" style="padding-top: 3%; margin-top: 3%;">

      <form [formGroup]="trendForm">
        <table style="width: 100%;">
          <tr>
            <td style="width: 20%;"></td>
            <td style="width: 30%;">
              <select formControlName="filter" id="filter" class="form-control" (change)="onChange()" [(ngModel)]="initialFilter">
                <option [value]="filter.id" *ngFor="let filter of filters">{{filter.value}} </option>
            </select>    
            </td>
            <td style="width: 20%;"></td>
          </tr>
      </table>
        <br><br>

      </form> 
    <div [hidden]="!bar">
      <ngx-charts-bar-vertical
      [view]="view"
      [results]="single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical>
  </div>
  <div [hidden]="!pie">
    <ngx-charts-pie-chart
      [view]="view"
      [results]="single"
      [legend]=true
      [labels]=true
      >
    </ngx-charts-pie-chart>
  </div>
    <div style="margin-left: 800px;">
  <button class="btn-primary float-right" style="position: fixed;" (click)="onChangeChart()" type="button" >{{ButtonValue}}</button>
 

</div>
